#login-page{
    height: 75%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width: 50%;
    height:75%;
}


#login input {
    height: 2rem;
    width: 100%;
    font-family: inherit;
    background-color: var(--color-3);
    font-size: 1rem;
    color: var(--font-color);
    border: solid 2px var(--font-color);    
    padding-left: 8px;
    border-radius: 8px;
}

#login-page .remember-me{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
#login-page .remember-me input{
    height:1rem;
    width:1rem;
    margin-left:2.5%;
}

#login button{
    height: 2.2rem;
    width: 105%;
    margin-top: 10%;
    font-family: inherit;
    background-color: var(--color-3);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .5rem;
    color: var(--font-color);
    border: solid 2px var(--font-color);    
    padding-left: 8px;
    border-radius: 8px;
    cursor:pointer;
    transition:.5s;
}

#login button:hover{
    background-color:var(--color-1);
}

#login-page h3, #login-page a{
    width:100%;
    text-align: center;
}

#login-page h3{
    font-size:2rem;
    letter-spacing:1rem;
}
#login-page a{
    font-size:.75rem;
    color:inherit;
    text-decoration: none;
}

#login-to-try{
    margin-top:2.5%;
}

