.task{
	position:relative;
	width:90%;
	--checkbox-size: 1rem;
	--order-btn-size: .6rem;
}

/* If you need to refactor this, use flex-box. */


/* It is difficult to style input[type="checkbox"] directly */
/* We are going to hide the checkbox input and use a span 
to display checked status*/

.task input[type="checkbox"]{
	position:absolute;
	cursor:pointer;
	height:0;
	width:0;
	opacity:0;
}

.task .status-box{
	position:absolute;
	cursor:pointer;
	top:0;
	left:0;
	height:var(--checkbox-size);
	width:var(--checkbox-size);
	border-radius:100%;
	background-color:transparent;
	border: 2px solid var(--font-color);
	transform: translate(0%,-10%)
}

/*
.task:hover input ~ .status-box{
	background-color: var(--color-4);
}*/

.status-box:hover{
    background-color: var(--color-4);
}

.status-box:after{
	content:"";
	position:absolute;
	display:none;
}

.task input:checked ~ .status-box:after{
	display:block;
}

.task .status-box:after{
	top:  .15rem;
	left: .3rem;
	height: .5rem;
	width:.25rem;
	border: solid var(--font-color);
	border-width: 0px 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.goal-text{
	margin-left:calc(1.618*var(--checkbox-size));
	cursor: pointer;
}



/* Styling the Order Buttons */
.order-buttons{
	display:flex;
	flex-direction:column;
	height: calc(2*var(--order-btn-size));
	justify-content:space-around;
	position:absolute;
	
	top:-.25rem;
	left:-1.25rem
}


.order-buttons button{ 
	/* make them triangles */
	height:0px;
	width:0px;
	border-left: calc(.5773*var(--order-btn-size)) solid transparent;
	border-right: calc(.5773*var(--order-btn-size)) solid transparent;
	border-bottom: var(--order-btn-size) solid var(--font-color);
	
	/* undoing default settings for btns */
	border-top:none; 
	box-shadow:none;
	background-color:transparent;

	transition: .15s linear;
	cursor:pointer;
}

.down-btn{
	transform: translate(11.8%) rotate(60deg);
}

.order-buttons button:hover{
	border-bottom: var(--order-btn-size) solid var(--color-4);
}














/* strike-through animation below */
.strikethrough{
    display: inline-block;
    position:relative;
}

.strikethrough:after{ /* need to check this*/
    content: '';
    position:absolute;
    display:block;
    width:100%;
    height:2px;
    box-shadow: 0 1px rgba(255,255,255,0.6);
	margin-top: -0.6em;
	background: black;
	transform-origin: center left;
	transform: scaleX(0);
	animation: strikethrough .5s 0s cubic-bezier(.55, 0, .1, 1) forwards;
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}


/* styling the delete goal button */

@keyframes fadeIn{
    from {
        opacity:0
    } to {
        opacity:1
    }
}

.delete-goal-btn{
    position: relative;
    transform: translate(40%,-20%);
    height: calc(1.618*var(--checkbox-size));
    width: var(--checkbox-size);
    background-color: transparent;
    border-radius: 10rem;
    border: .1rem solid var(--font-color);

    cursor:pointer;
    animation: fadeIn .25s linear forwards;
}

.delete-goal-btn:hover{
    background-color:var(--color-4)
}
.slant-up, .slant-down{
    height: .15rem;
    width: .75rem;
    transform: translate(-50%, -50%) rotate( -45deg ) scale(1);
    background-color: var(--font-color);
    border-radius: 2rem;
    position: absolute;
    top:50%;
    left:50%
}

.slant-down{
    transform: translate(-50%, -50%) rotate( 45deg ) scale(1);
}