.strikethrough{
    display: inline-block;
    position:relative;
}

.strikethrough:after{ /* need to check this*/
    content: '';
    position:absolute;
    display:block;
    width:100%;
    height:2px;
    box-shadow: 0 1px rgba(255,255,255,0.6);
	margin-top: -0.6em;
	background: black;
	transform-origin: center left;
	animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) forwards;
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}