:root{
    --color-1: #FFF9C7;
    --color-2: #EDEAE5;
    --color-3: #F6f6f5;
    --color-4: #9FEDD7;
    --font-color: #016670;
}

html{
    font-size: max(2.25vh,16px);
    width:100vw;
    height:100vh;
    overflow:hidden;
    overflow-x:hidden;
    font-family: 'Spartan', sans-serif;
    background-color: var(--color-2);
    color:var(--font-color);
}
*{
    margin:0;
    padding:0;
}
*:focus{
    outline:none;
}
li{
    list-style: none;
}

#app{
    display:flex;
    height:100vh;
    width:100vw;
    justify-content:center
}

#sticky{
    align-self:center;
    z-index: 1;
} 

#details-bar{
    position:absolute;
    right:0%;
    top:0%;
    z-index:2;
}

#sticky-nav{
    position:absolute;
    left:0%;
    top:0%;

    height:100vh;
    width:20%;
    max-width: 300px;
    min-width:200px;
    z-index:2;
}
a{
    text-decoration:none;
    color:inherit;
}







/* SCROLL BAR STYLING */


/* Works on Firefox */
*{
    scrollbar-width: thin;
    scrollbar-color: var(--font-color) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    border-radius: 64px;
    border:2px solid var(--color-1);
}

